# Configuración del servidor
PORT=3000
NODE_ENV= # development, production, test
FRONTEND_URL= # URL del frontend para configurar CORS, por ejemplo: http://localhost:5173
# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME= # Nombre de la base de datos, por ejemplo: justina-bd
DB_USER= # Usuario de la base de datos, por ejemplo: postgres
DB_PASSWORD= # Contraseña de la base de datos, por ejemplo: 1234
# Configuración JWT
JWT_SECRET= 